{deps_dir, ["deps"]}.
{sub_dirs, ["apps/sip", "demos/busy", "demos/hang", "demos/rel"]}.
{lib_dirs, ["deps", "apps"]}.
{deps,
    [
        {gproc, ".*", {git, "http://github.com/esl/gproc.git", {tag, "v0.2.8"}}},
        {meck, ".*", {git, "http://github.com/esl/meck.git", {tag, "0.6.3"}}},
        {erlando, ".*", {git, "http://github.com/rabbitmq/erlando.git", {tag, "rabbitmq_v2.6.0"}}},
        {covertool, ".*", {git, "http://github.com/idubrov/covertool.git", "master"}},
        {gen_icmp, ".*", {git, "http://github.com/msantos/gen_icmp.git", "master"}},
        {ct_surefire, ".*", {git, "https://github.com/zeitgeist/ct_surefire.git", "07a9b6509dd22b6bb6c1436531ae77995279ea6a"}}
    ]}.
