{deps_dir, ["deps"]}.
{sub_dirs, ["apps/sip", "demos/busy", "demos/hang", "rel"]}.
{deps,
    [
        {gproc, ".*", {git, "http://github.com/esl/gproc.git", {tag, "v0.2.8"}}},
        {meck, ".*", {git, "http://github.com/esl/meck.git", {tag, "0.6.3"}}},
        {erlando, ".*", {git, "http://github.com/rabbitmq/erlando.git", {tag, "rabbitmq_v2.6.0"}}},
        {covertool, ".*", {git, "http://github.com/idubrov/covertool.git"}},
        {ct_surefire, ".*", {git, "http://github.com/idubrov/ct_surefire.git"}}
    ]}.
