{deps_dir, ["deps"]}.

{sub_dirs, ["lib/sip", "rel"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{cover_enabled, true}.

{deps,
    [
        {gproc, ".*", {git, "http://github.com/esl/gproc.git", {tag, "v0.2.8"}}},
        {meck, ".*", {git, "http://github.com/esl/meck.git", {tag, "0.6.3"}}},
        {erlando, ".*", {git, "http://github.com/rabbitmq/erlando.git", {tag, "rabbitmq_v2.6.0"}}}
    ]}.
