{plugins, [rebar_covertool]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [warn_missing_spec, debug_info, fail_on_warning]}.
{covertool_eunit, "eunit.coverage.xml"}.
{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}.
{clean_files, ["ct.coverdata", "eunit.coverage.xml", "ct.coverage.xml"]}.
