{plugins, [rebar_covertool]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [warn_missing_spec, debug_info, fail_on_warning]}.
{covertool_eunit, "test/eunit.coverage.xml"}.
{covertool_ct, {"test/ct.coverdata", "test/ct.coverage.xml"}}.
{clean_files, ["test/ct.coverdata", "test/eunit.coverage.xml", "test/ct.coverage.xml", "logs"]}.
